/* start personal theme */
body{
    font-family: 'Roboto', sans-serif;
}

.display{
    display: none;
}
/* end personal theme */

/* start nav */
nav .navbar-brand i{
    margin-right: 10px;
    background-color: antiquewhite;
    padding: 10px;
    border-radius: 50%;
    font-size: 20px;
}

nav .navbar-brand{
    font-size: 32px;
    font-weight: bold;
    position: relative;
}

nav .navbar-brand:after{
    content: "United Arab Emrates";
    position: absolute;
    color: #5f5f5f;
    font-size: 11px;
    top: 44px;
    left: 94px;
}
/* start media for nav */
@media(min-width: 992px) and (max-width: 1200px){          /* meduim screen rules */
    nav .navbar-brand{
        font-size: 20px !important;
    }
}
/* end media for nav */
/* end nav */

/* start header */
header{
    background-image: url(../images/Header.jpg);
    background-size: 100% 100%;
    height: 620px;
    margin-top: 10px;
}

header .bar ul{
    list-style-type: none;
}

header .bar ul li{
    display: inline-block;
    margin-right: 30px;
    color: white;
    font-weight: bold;
    margin-top: 10px;
    transition: all .5s;
    cursor: pointer;
}

header .bar ul li:hover{
    transform: scale(1.1, 1.1);
    transition: all .5s;
    color: black;
    text-decoration: underline;
}

header .content{
    position: relative;
    top: 50px;
    font-weight: bold;
    color: #fff;
}

header .content h1{
    margin: 23px 0px;
    font-size: 59px;
}

header .content button{
    background-color: black;
    color: #fff;
    padding: 5px 22px;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    transition: all .5s;
}

header .content button:hover{
    background-color: #fff;
    color: black;
    transition: all .5s;
}

/* start media for header */
@media (max-width: 767px) {                                        /* small screen rules */
    header{
        height: 660px;
    }

    header .bar ul li{
        display: block;
    }

    header .bar ul li[class="special"]{
        display: none;
    }

    header .content{
        top: 20px;
    }

    header .content h1{
        margin: 23px 0px;
        font-size: 40px;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {                /* meduim screen rules */
    header .bar ul li{
        display: block;
    }

    header .bar ul li[class="special"]{
        display: none;
    }

    header .content h1{
        margin: 23px 0px;
        font-size: 30px;
    }
}
/* end media for header */
/* end header */

/* start section advices */
.advices{
    margin: 40px 0px;
}

.advices .box h6{
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 20px;
}

.advices .box p{
    font-size: 14px;
    font-weight: bold;
    color: gray;
}
/* start media for section advices */
@media (max-width: 767px) {                                   /* small screen rules */
    .advices .box{
        margin-bottom: 50px;
    }
}

@media(min-width: 768px) and (max-width: 991px) {            /* meduim screen rules */
    .advices .box h6{
        font-size: 12px;
    }

    .advices .box p{
        font-size: 12px;
    }
}
/* end media for section advices */
/* end section advices */


/* start section menu */
.menu{
    margin : 90px 0px;
}

.menu .row{
    border-bottom: 1px solid black;
}

.menu .left ul{
    list-style-type: none;
    padding: 0px;
}

.menu .left ul li{
    display: inline-block;
    margin-right: 40px;
    transition: all .5s;
    cursor: pointer;
}

.menu .left ul li:hover{
    border-bottom: 1px solid aqua;
    transition: all .5s;
}

.menu .right button{
    background-color: black;
    color: #fff;
    padding: 5px 22px;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    transition: all .5s;
}
/* start media for section menu */
@media(max-width: 767px) {                                    /* small screen rules */
    .menu .left{
        text-align: center;
    }

    .menu .left ul li{
        margin-right: 10px;
    }

    .menu .right{
        text-align: center;
        margin-bottom: 30px;
    }
}

@media(min-width: 768px) and (max-width: 991px) {            /* meduim screen rules */
    .menu .left ul li{
        margin-right: 20px;
    }
}
/* end media for section menu */
/* end section menu */


